@page "/Edicio-Smart/{NoSerialB}"
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<h3>Edicion Smart</h3>

<EditForm Model="@smart" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label label for "NoSerial"> Ingreso el codigo serial</label>
        <InputText id="NoSerial" @bind-Value="smart.NoSerial" class="from-control" />
        <ValidationMessage For="() => smart.NoSerial" />
    </div
    <div class="form-group">
        <label label for "Marca"> Ingrese la marcal</label>
        <InputText id="Marca" @bind-Value="smart.Marca" class="from-control" />
        <ValidationMessage For="() => smart.Marca" />
    </div
    <div class="form-group">
        <label label for "Modelo"> Ingreso el modelo</label>
        <InputText id="Modelo" @bind-Value="smart.Modelo" class="from-control" />
        <ValidationMessage For="() => smart.Modelo" />
    </div
    <div class="form-group">
        <label label for "SistemaOperativo"> Ingreso el sistema operativo</label>
        <InputText id="SistemaOperativo" @bind-Value="smart.SistemaOperativo" class="from-control" />
        <ValidationMessage For="() => smart.SistemaOperativo" />
    </div

    <div class="form-group">
        <label label for "NoCamaras"> Ingrese la cantidad de camaras</label>
        <InputNumber id="NoCamaras" @bind-Value="smart.NoCamaras" class="from-control" />
    </div
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>

</EditForm>

@code {
    [Parameter]
    public string NoSerialB { get; set; }

    List<clsSmartPhone> smarts = new List<clsSmartPhone>();
    private clsSmartPhone smart = new clsSmartPhone();

  protected async Task Guardar()
        {
            smarts.Add(smart);
            smart = new clsSmartPhone();    

            await localStorage.SetItemAsync("JsonCel", smarts);
            NavigationManager.NavigateTo("/Ingreso-Smart/");

        }
        protected override async Task OnInitializedAsync()
        {  //La primera vez que se corre poner en comentarios, pues como no existen datos
           //convierta la lista catedraticos en null
            smarts = await localStorage.GetItemAsync<List<clsSmartPhone>>("JsonCel");
            smart = smarts.Find(c => c.NoSerial == NoSerialB);
        }

      


}
